h1{
    margin: 0;

    /* Головна */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #2E2E2E;


}

.admin_profile_page{
    margin: 50px 0 50px 0;

    display: flex;
}

.admin_profile_content{
    margin-left: 62px;
}



.admin_profile_menu{

    width: 268px;
    height: 615px;


    box-sizing: border-box;

    border-width: 5px 0;
    border-style: solid;
    border-radius: 5px;
}

.info_admin{
    display: flex;
    margin-top: 41px;
    word-break: break-all;
}

.admin_name{

    display: flex;
    align-items: center;

    height: 80px;

    /* Привіт, admin */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    width: 183px;

    margin-left: 15px;
}


.admin_avatar{
    display: flex;
    align-items: center;
}

.admin_avatar img{

    width: 125px;
    height: 125px;

    border-radius: 75px;

}

.admin_profile_menu_item {

    /*margin-top: 25px;*/
    margin-top: 10px;
    cursor: pointer;
    box-sizing: border-box;

    /*margin-bottom: 10px;*/

    width: 268px;
    height: 50px;

    border-radius: 5px 5px 5px 5px;

    border-left: 5px solid #A1A1A1;
    border-right: 5px solid #A1A1A1;

    /*border-left: 5px solid #2E2E2E;*/
    /*border-right: 5px solid #2E2E2E;*/

    display: flex;

    align-items: center;

}

.admin_profile_menu_item.active1{
    border-left: 5px solid #2E2E2E;
    border-right: 5px solid #2E2E2E;
}


.admin_profile_menu_item img
{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.admin_profile_menu_item a{
    text-decoration: none;
    margin-left: 10px;
}


.admin_profile_menu_item p
{
    /* Краса та здоров’я */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;


    color: #2E2E2E;
    margin: 0 0 0 0;

}

.admin_profile_menu_item:hover, .admin_profile_menu_item:focus {
    background-color: #f0f0f0;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*HomePage in Admin*/

.home_admin{

}

.home_admin h3{
    /* Нові */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    margin-top: 35px;
    margin-bottom: 21px;

}

.new_static{
    width: 267px;
    height: 169px;

    border-width: 3px 0;
    border-style: solid;
    border-color: #A1A1A1;
    border-radius: 5px;

    padding-top: 22px;

    position: relative;
}

.new_static img{
    width: 25px;
    height: 25px;
}

.new_static p, .new_static a{
    /* Нові оголошення */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    margin-top: 0;
    margin-bottom: 0;

    margin-left: 10px;

}

.new_static a{
    position: absolute;
    margin: 0;
    right: 7px;
}

.zamov_static{
    box-sizing: border-box;
    width: 232px;
    height: 145px;

    border-width: 3px 0;
    border-style: solid;
    border-color: #A1A1A1;
    border-radius: 5px;

    position: relative;
}

.zamov_static p, .zamov_static a{
    margin: 0;

    /* Активні */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.zamov_static a{
    position: absolute;
    left: 113px;
}

/*Newly_add list product*/

.Newly_add{
    width: 640px;
    height: 588px;
    overflow-y: auto;
    overflow-x: hidden;
}

.product_list_admin{
    box-sizing: border-box;
    width: 598px;
    height: 139px;

    border-radius: 15px;

    display: flex;
    position: relative;
}

.product_list_admin img{
    /* Rectangle 133 */
    width: 160px;
    height: 139px;

    object-fit: cover;
}

.my_product_info{
    /*margin-left: 58px;*/

}

.my_product_info a{
    /* Футболка, велика */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    text-decoration: none;

    position: absolute;
    top: 13px;
    left: 218px;

    margin: 0;

    max-width: 35%;
    overflow: hidden;
    white-space: nowrap;
}

.my_product_info p{
    /* 36/M/48 */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */

    position: absolute;
    top: 43px;
    left: 218px;

    margin: 0;

    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
}

.product_right_part_user p{
    /* 4000 грн */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    position: absolute;
    top: 13px;
    right: 21px;

    margin: 0;
}

.street_create h3{
    /* Київ, якась там вулиця. 14 черня 2024 */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #A1A1A1;

    position: absolute;
    bottom: 13px;
    left: 218px;

    margin: 0;

}

/*////////////////////////////////////////////////////////////////////////////*/
/*Category_page*/

.category_admin_div{

    margin-top: 30px;

    box-sizing: border-box;

    width: 970px;
    max-height: 1780px;

    border-radius: 15px;

    padding: 20px 80px 26px 74px;
}

.search_user_icon2{
    font-size: 0;
    position: relative;
    margin-bottom: 25px;
}


.category_admin_div input{

    box-sizing: border-box;

    width: 640px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;
}

.category_admin_div img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 15px;
    top: 9px;
}

.category_admin_div input{
    padding-left: 57px;

    /* Знайти користувача */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.category_admin_div button{

    margin-left: 20px;

    width: 150px;
    height: 50px;

    border-radius: 15px;

    /* Пошук */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}


/*cat-list*/

.cat_admin{
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
}

.cat_admin input{
    width: 20px;
    height: 20px;

    margin: 0;
    font-size: 0;
}

.cat_name_admin{
    /* Rectangle 325 */
    margin-left: 24px;

    box-sizing: border-box;

    width: 360px;
    height: 35px;

    border: 2px solid #A1A1A1;
    border-radius: 10px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.cat_name_admin p{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;

    /* Краса та здоров’я */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    cursor: pointer;
}

/*btn_cat*/

.edit_cat{
    margin-left: 57px;
    margin-right: 21px;

    box-sizing: border-box;

    width: 164px;
    height: 30px;

    background: #EFEFEF;
    border: 2px solid #2E2E2E;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.edit_cat p, .delete_cat p{
    /* Видалити */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #2E2E2E;

    margin: 0;

    cursor: pointer;
}

.delete_cat{
    box-sizing: border-box;

    width: 164px;
    height: 30px;

    background: #FFFFFF;
    border: 2px solid #2E2E2E;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.subcategoriesAdm{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: flex-start; /* Align items to the start */
    gap: 10px; /* Optional: Add some space between items */
    max-width: 100%; /* Ensure container doesn't overflow */
    margin-top: 10px;
}

.subcategoriesAdm p{
    /* Косметика до догляду */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;

    flex: 1 1 180px;

    margin: 0;
}

.menu_cat_adm{
    position: absolute;
    top: 0;
    left: 44px;
    width: 360px;
    height: 35px;
}


.category_admin_div button{
    width: 147px;
    height: 40px;

    margin-left: 12px;
    cursor: pointer;

    background: #2E2E2E;
    border-radius: 10px;

    /* Додати */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    color: #FFFFFF;
}

.add_cont_cat{
    overflow-y: auto;

    margin: 0 auto;

    /* Rectangle 555 */

    box-sizing: border-box;

    width: 419px;
    min-height: 275px;

    border-radius: 15px;

    padding: 20px 20px 180px 20px;

    position: relative;
}

.add_cont_cat label{
    /* Вкажіть назву */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
}

.add_cont_cat input{
    box-sizing: border-box;

    width: 360px;
    height: 35px;

    border: 2px solid #A1A1A1;
    border-radius: 10px;

    padding: 15px;

    margin-top: 15px;
}

.add_cont_cat button{
    position: absolute;
    width: 150px;
    height: 50px;

    bottom: 20px;
    right: 20px;

    background: #2E2E2E;
    border-radius: 15px;

    /* Зберегти */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    color: #FFFFFF;
}


.modal5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;

    z-index: 9999;
}
.modal-content5 {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    position: relative;
}
.close-button5 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content5 button{
    width: 180px;
    height: 40px;

    border-radius: 15px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: #FFFFFF;
}

.modal-content5 h2{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    color: #2E2E2E;
}

.modal-content5 p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #2E2E2E;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*ProductAdminList*/

.admin_product_all_list{
    box-sizing: border-box;

    width: 928px;
    height: 199px;

    border-radius: 15px;

    position: relative;

    margin-bottom: 19px;
}

.admin_product_all_list .prod_img{
    width: 158px;
    height: 199px;

    /*width: auto;*/
    /*height: auto;*/
    /*object-fit: cover;*/
    /*background-position: center;*/
    object-fit: cover;
}

.prod_list_adm .admin_product_all_list .prod_name_adm{
    position: absolute;
    left: 168px;
    top: 13px;
}

.prod_list_adm .admin_product_all_list .prod_name_adm a{
    /* Футболка, велика */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    margin: 0;

    text-decoration: none;
}

.prod_list_adm .admin_product_all_list .desc_prod_adm{
    position: absolute;
    left: 168px;
    top: 47px;
}

.prod_list_adm .admin_product_all_list .NEW{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 30px;

    background: #FFE710;
    border-radius: 10px;

    /* Нове */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #595959;

    position: absolute;
    left: 168px;
    top: 80px;
}

.prod_list_adm .admin_product_all_list .desc_prod_adm p{
    /* 36/M/48 */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    margin: 0;
}

.prod_list_adm .admin_product_all_list .price_prod_adm{
    position: absolute;
    left: 168px;
    bottom: 42px;
}

.prod_list_adm .admin_product_all_list .price_prod_adm p{
    /* 4000 грн */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    margin: 0;
}

.prod_list_adm .admin_product_all_list .region_prod_adm{
    position: absolute;
    left: 168px;
    bottom: 18px;
}

.prod_list_adm .admin_product_all_list .region_prod_adm a{
    /* Київ, якась там вулиця. 14 черня 2024 */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #A1A1A1;

    margin: 0;
}

.prod_list_adm .admin_product_all_list .like{
    position: absolute;
    right: 0;
    bottom: 11px;
}

.prod_list_adm .count_like{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    position: absolute;
    right: 65px;
    bottom: 30px;
}

.prod_list_adm .admin_product_all_list .sms,
.prod_list_adm .admin_product_all_list .ban,
.prod_list_adm .admin_product_all_list .warning{
    width: 30px;
    height: 30px;
}

.prod_list_adm .admin_product_all_list .sms{
    position: absolute;
    top: 15px;
    right: 27px;
}

.prod_list_adm .admin_product_all_list .ban{
    position: absolute;
    top: 15px;
    right: 87px;
}

.prod_list_adm .admin_product_all_list .warning{
    position: absolute;
    top: 15px;
    right: 147px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*Users_page*/

.users_admin_page{

}

.search_user_icon{
   margin-top: 30px;
    font-size: 0;
    position: relative;
}

.users_admin_page input{

    box-sizing: border-box;

    width: 640px;
    height: 50px;

    border-radius: 15px;
}

.users_admin_page img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 15px;
    top: 9px;
}

.users_admin_page input{
    padding-left: 57px;

    /* Знайти користувача */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    color: #A1A1A1;
}

.users_admin_page button{

    margin-left: 20px;

    width: 150px;
    height: 50px;

    border-radius: 15px;

    /* Пошук */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.users_div{
    box-sizing: border-box;
    width: 970px;
    height: 640px;

    border-radius: 15px;

    margin: 20px 0;  /***********************/

    overflow-y: auto;
    overflow-x: hidden;
}

.name_table{
    margin-top: 50px;
    margin-left: 67px;
}

.name_table th{
    /* Ім’я та прізвище */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;

    color: #A1A1A1;
}

.cont_table{
    padding-top: 7px;
}

.cont_table tr{
    height: 15px;
    align-items: center;

}

.cont_table td{
    /* Ім’я користувача */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    padding: 0;
}

.cont_table p{
    margin: 0 0;
}

.cont_table input{
    width: 20px;
    height: 20px;


    background-color: #EFEFEF;

    margin: 30px 27px 30px 20px;
}

.cont_table th{
    padding: 0;
}

.points{

}

.point_btn{
    cursor: pointer;
    display: flex;
    gap: 3px;
}

.point{
    width: 7px;
    height: 7px;
    border-radius: 15px;
}

button.all_select, button.del_user{
    width: 143px;
    height: 40px;

    background: #2E2E2E;
    border-radius: 15px;
}

button.del_user{
    width: 138px;
    margin-left: 12px;
}

button.all_select{
    margin-left: 0;
}

button.all_select p, button.del_user p{
    /* Обрати все */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    color: #FFFFFF;

    margin: 0;
}

.add_user{
    width: 150px;
    height: 50px;

    border-radius: 15px;

    position: absolute;

    right: 0;

    cursor: pointer;
}

.add_user p{
    /* Додати */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    margin: 0;
}


.menu22 {
    box-sizing: border-box;

    position: absolute;
    width: 228px;
    height: 216px;
    border-radius: 15px;

    z-index:20;
    top: 0; right: 0;
    overflow: visible;
}

.menu22 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu22 li {
    padding: 50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.menu22 li:last-child {
    border-bottom: none;
}



.rol_user{
    /* Rectangle 577 */

    box-sizing: border-box;

    width: 182px;
    height: 44px;

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;
}

.rol_user a{
    /* Роль */

    height: 16px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    position: absolute;
    left:10px;
}

.rol_user img{
   width: 20px;
    height: 20px;

    position: absolute;
    top: 10px;
    right: 10px;
}

.cont_role{
    display: none;
    height: 130px;

    /* Rectangle 557 */

    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-radius: 0 0 15px 15px;

    padding: 10px 0 20px 30px;
}

.cont_role p{
    cursor: pointer;

    /* Приватна особа */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    margin-top: 0;
    margin-bottom: 20px;
}

.cont_role p:hover{
    font-weight: 700;
}

/*//////////////////////////////////////////////////////*/
/*Modal*/

.add_modal{
    position: fixed; /* Залишайтеся на місці */
    z-index: 1; /* Сісти зверху */
    padding-top: 200px; /* Розташування коробки */
    left: 0;
    top: 0;
    width: 100%; /* Повна ширина */
    height: 100%; /* Повний зріст */

    /*overflow: auto; !* Увімкнути прокручування, якщо потрібно *!*/
    background-color: rgb(0,0,0); /* Резервний колір */
    background-color: rgba(0,0,0,0.7); /* Чорний з непрозорістю */
    margin-right: 100px;
}

.add_cont{
    margin: 0 auto;

    /* Rectangle 555 */

    box-sizing: border-box;

    width: 499px;
    height: 671px;

    border-radius: 15px;

    padding: 20px 29px 25px 29px;

    position: relative;
}

.add_cont label{
    /* Ім’я користувача */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
}

.add_cont input{
    box-sizing: border-box;

    width: 441px;
    height: 50px;
    border-radius: 15px;

    padding-left: 15px ;

    margin-top: 11px;
    margin-bottom: 15px;
}

.add_cont button{

    position: absolute;
    bottom: 25px;

    width: 150px;
    height: 50px;

    border-radius: 15px;

    /* Зберегти */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
}

.drop_container{
    /*box-sizing: border-box;*/

    /*width: 182px;*/
    /*height: 158px;*/

    /*background: #FFFFFF;*/
    /*border: 3px solid #2E2E2E;*/
    /*border-radius: 15px;*/


}

.drop_select{

}



/*///////////////////////////////////////////////*/
/*Zamovlennya*/

.product_zamovlennya{
    box-sizing: border-box;
    width: 970px;
    height: 125px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    position: relative;

    margin-bottom: 25px;
}

.product_zamovlennya img{
    width: 125px;
    height: 125px;
}

.product_zamovlennya h3{
    /* Футболка, велика */

    position: absolute;
    left: 140px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya a{
    /* Від 6 грудня 2022 */
    position: absolute;
    bottom: 10px;


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya h4{
    /* ID: 59876650 */

    position: absolute;
    right: 127px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya p{
    /* Виконано */

    position: absolute;
    right: 25px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    color: #01B834;

    margin: 0;
}
