.body{
	background-color: #FFFFFF;
}

/* Стиль для скролбару */
body::-webkit-scrollbar {
    width: 15px; /* Ширина скролбару */
}

/* Стиль для бігунка (повзунка) */
body::-webkit-scrollbar-thumb {
    background-color: #2A2A2A;
    border-radius: 5px;
}

/* Стиль для доріжки */
body::-webkit-scrollbar-track {
    border: 1px solid #2A2A2A;
    border-radius: 5px;
}

/* Стиль для скролбару */
::-webkit-scrollbar {
    width: 10px; /* Ширина скролбару */
}

/* Стиль для бігунка (повзунка) */
::-webkit-scrollbar-thumb {
    background-color: #2E2E2E;
    border-radius: 5px;
}

/* Стиль для доріжки */
::-webkit-scrollbar-track {
    border: 1px solid #2E2E2E;
    border-radius: 5px;
}



.slider {

    border: 2px solid #2A2A2A;
    background-color: #2A2A2A;
}

.slider:before {
    background-color: #FFFFFF;
}

.search, .search_map  {
    border: 3px solid #2E2E2E;
}

.cont_region2{
    background: #FFFFFF;
    color: #2E2E2E;

    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #2E2E2E;


}


button  {
    background-color: #2E2E2E;
    border: 3px solid #2E2E2E;
}

button p{
    color: #FFFFFF;
}

.input {
    color: #A1A1A1;
}


/* footer */


hr{

    border: 5px solid #2E2E2E;
    width: 100%;
}

.footer-list a{

    color: #000000;
}

.title a{

    color: #000000;
}


/*Home Page*/

.box
{
    background-color: #2E2E2E;
}


.box p{
    /* Текст */
    color: #FFFFFF;
}

/*cat home model*/

.menu-item {
    border-left: 5px solid #2E2E2E;
}

.menu-item p
{
    color: #2E2E2E;
}

/*Зараз передивляються*/

.now_watch h1{
    color: #2E2E2E;
}

/*VIP*/

.Vip_product h1 {
    color: #2E2E2E;
}

/*Бізнес Для Вас*/
.Bigness_products h1{
    color: #2E2E2E;
}

.bigness_product_item{
    background: #2E2E2E;
}

.bigness_product_item a{
    color: #FFFFFF;
}

.bigness_product_item p{
    /* 400 грн */
    color: #FFFFFF;
}

.bigness_product_item .shop_btn{
    border: 3px solid #FFFFFF;
}

.bigness_product_item .shop_btn a{
    color: #FFFFFF;
}

.bigness_product_item .shop_btn img{
    filter: invert(1) grayscale(1) brightness(2);
}


/*search*/

.search_div h1{
    color: #2E2E2E;
}

.search_zapit{
    border: 3px solid #2E2E2E;
}

.search_zapit p{
    color: #2E2E2E;
}

/*Modal*/

.modal-content {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
}

.subCategory{
    color: #2E2E2E;
}

.subSubCategory
{
    color: #2E2E2E;
}



/*////////////////////////////////////////////*/
/*Кошик*/

.cart_empty a{
    color: #2E2E2E;
}

/*cart_product*/

.cart_product_item{
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
}

.cart_product_item p{
    /* Футболка, велика */
    color: #2E2E2E;
}

/*///////////////////////////////////////*/
/*Categories PAGE*/

.Categories h3{
    /* Фільтри */
    color: #2E2E2E;
}

.Categories p{
    color: #2E2E2E;
}

.sort_price{
    border: 3px solid #2E2E2E;
    color: #A2A2A2;
}

.type_advertisement h3{
    color: #2E2E2E;
}

.type_active{
    border-bottom: 3px solid #2E2E2E;
}

.sort_menu{
    /* Сортувати за */
    color: #2E2E2E;
}

.currencies{
    color: #2E2E2E;
}

.active_valut{
    color: #2E2E2E;
}


/*PRODUCT LIST IN CATEGORY*/

.product_list{
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
}

.product_list a{
    color: #2E2E2E;
}

.product_list p{
    color: #2E2E2E;
}

.product_right_part p{
    color: #2E2E2E;
}

.new a{
    /* Нове */
    color: #595959;
}

.street a{
    /* Київ, якась там вулиця. 14 черня 2024 */
    color: #A1A1A1;
}

.shop_btn{
    border: 3px solid #2E2E2E;
}

.shop_btn a{
    /* Додати в кошик */
    color: #2E2E2E;
}


/*////////////////////////////////////////////////////*/
/*Product_Cart*/

.Product-content p{
    color: #2E2E2E;
}

.Product-content a{
    color: #2E2E2E;
}

.Product-cart h3{
    color: #2E2E2E;
}

.product_price{
    color: #2E2E2E;
}

.Product-cart h2{
    color: #2E2E2E;
}

.Product-cart p{
    color: #2E2E2E;
}

.button_chat{
    color: #FFFFFF;
}

.prod_desc{
    border-bottom: 3px solid #2E2E2E;

    color: #2E2E2E;
}

.product_description{
    color: #2E2E2E;
}

.recommendations p{
    /* Може зацікавити */
    color: #2E2E2E;
}

.product-item-info {
    color: #FFFFFF;
}

.product-item-info a,
.product-item-info p{
    color: #FFFFFF;
}

/*////////////////////////////////////////////////*/
/*User profile*/
/*menu*/

.profile_menu{
    border-color: #2E2E2E;
}

.user_name{
    color: #2E2E2E;
}

.profile_menu_item.active1{
    border-left: 5px solid #2E2E2E;
    border-right: 5px solid #2E2E2E;

}

.profile_menu_item p
{
    /* Краса та здоров’я */
    color: #2E2E2E;
}

/*//////////////////////////////////////////////*/
/*User profile*/
/*Ваші оголошення*/


.profile_page_name{
    color: #2E2E2E;
}

.advertisement_menu_item{
    border-top: 5px solid #2E2E2E;
}

.advertisement_menu_item.Active {
    border-top-color: #2E2E2E;
}

.advertisement_menu_item.inactive {
    border-top-color: #A1A1A1;
}

.create_btn{
    background: #2E2E2E;
    border-top: 5px solid #2E2E2E;
}

.create_btn p{
    color: #FFFFFF;
}

.price_my_prod p{
    color: #2E2E2E;
}

.count_like{
    color: #2E2E2E;
}


.modal-content5 {
    background: #FFFFFF;
}
.close-button5 {

}

.modal-content5 button{
    color: #FFFFFF;
    background: #2E2E2E;
}



/*/////////////////////////////////////////////*/
/*create_page*/

.create_page h1{
    color: #2E2E2E;
}

.create_content label{
    color: #2E2E2E;
}

.create_content input{
    border: 3px solid #2E2E2E;
}

.create_content textarea{
    border: 3px solid #2E2E2E;
}

.img_box{
    border: 3px solid #2E2E2E;
    background-color: #EFEFEF;
}


.img_box p{
    /*    text*/
    /* Додати фото */
    border-bottom: 1px solid #000000;
    color: #2E2E2E;
}

.price_create label{
    color: #2E2E2E;
}

label.vip_create_item{
    color: #2E2E2E;
}

label.QuickPlus_create_item{
    color: #A1A1A1;
}

.button_create{
    background: #2E2E2E;
}

.button_create p{
    color: #FFFFFF;
}

.cat_name_modal{
    color: #2E2E2E;
}


.create_content.selected2{
    color: #2E2E2E;
}

.create_content.unselected2{
    color: #A1A1A1;
}

.cont_region{
    color: #2E2E2E;
    border-left: 5px solid #2E2E2E;
    border-right: 5px solid #2E2E2E;
    background-color: #FFFFFF;
}

/*//////////////////////////////////////////////*/
/*Chats*/

.message_list{
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
}

.message_list a{
    color: #2E2E2E;
}

.message_list p{
    /* Доброго дня! Я б хотів купити футболку */
    color: #2E2E2E;
}


/*Modal Del*/

.modal5 {

}
.modal-content5 {
   background-color: #FFFFFF;
}
.close-button5 {

}

.modal-content5 button{
    color: #FFFFFF;
}

.modal-content5 h2{
    color: #2E2E2E;
}

.modal-content5 p{
    color: #2E2E2E;
}


/*//////////////////////////////////////////////////////*/
/*Chat*/

.chat_div{
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
}

.chat_info p{
    color: #2E2E2E;
}

/* Стилі для повідомлень */
.message-box {
    background: #FFFFFF;
    border: 2px solid #2E2E2E;

    /* Доброго дня! Я б хотів купити футболку */
    color: #2E2E2E;
}

.message-box p{
    color: #A1A1A1;
}

.input_container input{
    background: #EFEFEF;
    border: 3px solid #2E2E2E;
}

button.btn_message {
    color: #FFFFFF;
    background: #2E2E2E;
}

.emoji-container {
    background: #FFFFFF;
    border: 2px solid #2E2E2E;
}

.emoji_scroll{
    background: #FFFFFF;
}



/*//////////////////////////////////////////////////////////////*/
/*history_zamovlennya*/

.search_user_icon2 input{
    border: 3px solid #2E2E2E;
}

.search_user_icon2 input{
    color: #A1A1A1;
}

.search_user_icon2 button{
    background: #2E2E2E;
    color: #FFFFFF;
}

.product_zamovlennya{
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
}

.product_zamovlennya h3{
    /* Футболка, велика */
    color: #2E2E2E;
}

.product_zamovlennya a{
    /* Від 6 грудня 2022 */
    color: #2E2E2E;
}

.product_zamovlennya h4{
    color: #2E2E2E;
}

.product_zamovlennya p{
    color: #01B834;
}


/*////////////////////////////////*/
/*Subscription*/

.Regular_subscription,
.QuickPlus_subscription,
.QuickPro_subscription
{
    border-color: #2E2E2E;
}


.Regular_subscription h4{
    /* Звичайна */
    color: #000000;
}

.QuickPlus_subscription h4{
    /* QuickPlus */
    color: #000000;
}

.QuickPro_subscription h4{
    /* QuickPro */
    color: #000000;
}

.QuickPro_subscription a{
    /* Тільки для “Бізнес” */
    color: #A1A1A1;
}

.checkmark0,
.checkmark1{
    border: 1px solid #2E2E2E;
}

.checkmark1{
    background: #2E2E2E;
}

.price_subscription.active2{
    background-color: #FFFFFF;
    color: #000000;

}

.price_subscription{
    border: 3px solid #2E2E2E;
    background-color: #2E2E2E;
    color: #FFFFFF;
}

.preimushchestva p{
   color: #000000;
}

/*/////////////////////////////////////////////*/
/*Setting*/

.setting_menu{
    background: #EFEFEF;
    border-color: #2E2E2E;
}

.setting_menu a{
    color: #2E2E2E;
}

.accordion-content{
    background-color: #EFEFEF;
    border-color: #2E2E2E;
}

.cont label{
    /* Ім’я */
    color: #2E2E2E;
}

.cont input{
    border: 1px solid #2E2E2E;
    background: #EFEFEF;
}

.btn_setting button{
    background: #2E2E2E;
    color: #FFFFFF;
}
























/*footer*/

.about_quickPost h1,
.about_quickPost h2,
.about_quickPost p
{
    color: #2E2E2E;
}

.ContentProtectionQuickPost h1,
.ContentProtectionQuickPost p
{
    color: #2E2E2E;
}

.ContentProtectionQuickPost img{
    border-right: 10px solid #2E2E2E;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.25));
}

/*/////////////////////////////////////////////////////////////////////////*/

.terms_of_service h1,
.terms_of_service h2,
.terms_of_service h3,
.terms_of_service p,
.terms_of_service a
{
    color: #2E2E2E;
}

.terms_of_service_img1 img,
.terms_of_service_img2 img
{
    border-left: 10px solid #2E2E2E;
    filter: drop-shadow(-5px 0px 5px rgba(0, 0, 0, 0.25));
}

.terms_of_service_img3 img,
.terms_of_service_img4 img,
.terms_of_service_img5 img
{
    border-right: 10px solid #2E2E2E;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.25));
}
