input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


body{
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


li {
    padding: 0;
    margin: 0;
}

.df{
    display: flex;
}


.wrapper{
    width: 70%;
    min-width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    display: flex;

}

.logo, .logo-footer{

    width: 255px;
    height: 100px;
    margin-top: 25px;
}




/*switch*/


.switch_div{

    display: flex;
    width: 168px;
    height: 40px;
    margin-top: 55px;
    margin-left: 523px;

}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {

    /* cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.329);
    transition: .4s;
    border-radius: 25px;
    background-color: #2A2A2A; */

    position: absolute;
    cursor: pointer;
    inset: 0;
    /* border: 2px solid #2A2A2A; */
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* background-color: #2A2A2A; */
}

.slider:before {

    /* content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(255, 255, 255);
    transition: .4s; */

    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    /* background-color: #FFFFFF; */
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);

}



.day{
    margin-right: 5px;
    margin-bottom: 3px;

    width: 34px;
    height: 34px;
}

.night{
    margin-left: 3px;

    width: 40px;
    height: 40px;
}



/* .switch input:checked + .slider {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;

} */

/* .switch input:focus + .slider {
    box-shadow: inset 3px 2px 4px rgba(22, 22, 22, 0.253);
} */

.switch input:checked + .slider:before {
    /* transform: translateX(2.5em); */

    transform: translateX(1.5em);
}











.page-menu{
    list-style: none;
    display: flex;
    margin-top: 40px;
}




.profile{

    width: 84px;
    height: 70px;
    margin-left: 30px;

}

.selected{




    width: 83px;
    height: 70px;
    margin-left: 42px;



}

.cart{



    width: 74px;
    height: 70px;
    margin-left: 41px;


}


.content{
    margin-top: 50px;

    display: flex;
}


/* search */


.search {

    width: 640px;
    height: 50px;

    border-radius: 15px;
}


.search input {

    width: 575px;
    height: 40px;
    margin-top: 3px;

}





.search input, .search_map input{

    /* search */

    /* search map */

    margin-left: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}


.search img {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: 5px;


}



/* search map */


.search_map {

    /* width: 640px;
    height: 50px; */

    margin-left: 20px;
    width: 310px;
    height: 50px;

    border-radius: 15px;
}

.search_map input{

    /* width: 575px;
    height: 45px;    */
    /* margin-top: 3px; */

    width: 245px;
    height: 40px;
    margin-top: 3px;

}

.search_map img {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: 6px;



}

/* button */

.btn{
    margin-left: 20px;
    display: flex;
}

.btn img{
    align-items: center;
}

.button_search{


    display: flex;
    width: 310px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    /* background: #2E2E2E; */
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}

.button_search p{


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */




}


.line1{
    display: flex;
    margin: 50px 0;

    gap: 20px;
}

.line1 .category{
    width: 310px;
    height: 385px;
    /*background-color: #A1A1A1;*/
}

.line1 .slider1{
    width: 970px;
    height: 390px;
    background-color: #A1A1A1;
}

.box
{
    /* Rectangle 109 */


    width: 1300px;
    height: 200px;
    background-color: #2E2E2E;

    display: flex;

    margin: 50px 0;
}

.box img{

    width: 100px;
    height: 100px;
    margin: 50px 35px 50px 35px;

}

.box p{
    /* Текст */



    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;


    color: #FFFFFF;

    margin-top: 82px;

}








.dropdown-container {

    align-items: center;
    margin-bottom: 25px;
    background-color: #EFEFEF;


}
.dropdown-label {
    margin-right: 10px;
    background-color: #EFEFEF;
}
.dropdown-select {
    width: 310px;
    height: 30px;
    border-left: 5px solid #2E2E2E;
    border-radius: 5px;
    font-size: 16px;

    /*margin-bottom: 10px;*/




    border-top: none;
    border-bottom: none;
    border-right: none;
}


.Categories{


    margin: 50px 0;
}

.Categories h3{
    /* Фільтри */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;


    color: #2E2E2E;
    margin: 0;
    padding: 0;

}

.Categories p{



    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;


    color: #2E2E2E;



}



.cat-text{
    margin-bottom: 10px;


}

.cat_a {
    text-decoration: none;
    color: #2E2E2E;
}

.cat_a:hover{

    color: #A1A1A1;
}

.cat_esc{
    margin-top: 30px;
}

/* slider */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    transform: translateY(-50%);
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot_div {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #2E2E2E;
    transition: background-color 0.6s ease;
}


.active, .dot:hover {
    background-color: #2E2E2E;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}





/* footer */



.footer-first-line{
    display: flex;
}


/* footer{

} */

.logo-footer{
    margin-top: 50px;
}


.footer-list{

    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-list li{

    margin-bottom: 10px;
}

.footer-list ul{
    list-style: none;
    text-decoration: none;
}



.footer-list a{
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.05em;

}

.title{
    margin-bottom: 20px;
}

.title a{


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.05em;

}

.first{
    margin-left: 75px;
}

.second{
    margin-left: 63px;
}

.third{
    margin-left: 133px;
}

.images{

    display: flex;


    width: 35px;
    height: 35px;

    margin-bottom: 450px;
}

.images img{
    margin-right: 15px;
}

.images .icon_youtube{

    width: 35px;
    height: 24.85px;
    margin-top: 5px;


}

/*///////////////////////////////////////////////////////////*/
/*Product-cart*/

.Product-cart{
    margin-top: 50px;
    display: flex;
}

.Product-content{
    margin-left: 20px;
    height: 640px;
}

.product_img img{
    width: 640px;
    height: 640px;
}

.Product-cart h3{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #2E2E2E;
}




.product_price{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    color: #2E2E2E;

}

.Product-cart h2{

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;


    color: #2E2E2E;

}


.Product-cart p{

    font-family: "Tsukimi Rounded", sans-serif;


    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    color: #2E2E2E;

    margin-top: 35px;

}
.div_color_img
{
    font-size: 0;
}

.color_img{
    width: 120px;
    height: 120px;
    margin-right: 20px;

}

.video{
    width: 220px;
    height: 120px;

}

.img_det{
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 640px;

}

.img_det img{
    width: 145px;
    height: 145px;

    margin-top: 20px;
    margin-right: 20px;

    margin-bottom: 50px;
}

.button_buy{
    background: #01B834;
    border-color: #01B834;
    border-radius: 15px;


    width: 310px;
    height: 78px;



    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;


    color: #FFFFFF;




}

.button_chat{


    width: 310px;
    height: 78px;

    background: #2E2E2E;
    border-color: #2E2E2E;
    border-radius: 15px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;


    color: #FFFFFF;
}


.desc-and-reviews{
    display: flex;
    margin-top: 50px;
}


.prod_desc{
    /* Опис */

    border-bottom: 3px solid black;
    padding-left: 58px;
    padding-right: 77px;
    padding-bottom: 13px;
    margin-left: 53px;


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;


    color: #2E2E2E;


}

.prod_reviews{
    /* Відгуки */

    margin-left: 178px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    color: #A1A1A1;


}

.product_description{


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;


    color: #2E2E2E;
    margin-bottom: 50px;

}

.recommendations{

}

.recommendations p{
    /* Може зацікавити */


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;


    color: #2E2E2E;
    margin-bottom: 35px;

}

.product-rec{
    display: flex;

}

.all-products
{
    margin-bottom: 50px;
}





.menu {

    width: 310px;


}
.menu-item {
    cursor: pointer;
    box-sizing: border-box;

    margin-bottom: 10px;
    justify-content: space-between;
    width: 310px;
    height: 30px;


    border-radius: 5px 5px 5px 5px;
    border-left: 5px solid #2E2E2E;






    display: flex;

    align-items: center;

}

.menu-item p
{
    /*margin-left: 10px;*/

    /* Краса та здоров’я */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;


    color: #2E2E2E;
    margin: 0 0 0 10px;

}

.menu-item img
{

    width: 20px;
    height: 20px;

}

.menu-item:hover, .menu-item:focus {
    background-color: #f0f0f0;
}

.sort_price{
    cursor: pointer;
    box-sizing: border-box;

    /*margin-bottom: 10px;*/
    justify-content: space-between;


    display: flex;

    align-items: center;

    width: 140px;
    height: 40px;

    border: 3px solid #2E2E2E;
    border-radius: 10px;

    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;


    color: #A2A2A2;

}

.Categories #input{
    padding-left: 15px;
}

.type_advertisement{
    margin-top: 50px;
    display: flex;
    gap: 25px;


}

.type_advertisement h3{

    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;


    color: #2E2E2E;


}

.type_active{
    border-bottom: 3px solid #2E2E2E;
}

.page_link{
    /* Головна/Одяг та взуття/Чоловічий одяг */


    width: 660px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #8D8D8D;


    display: flex;

    align-items: flex-end;

}

.count
{

/* Ми знайшли понад 2000 оголошень */



    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;


    color: #2E2E2E;


}

/*PRODUCT LIST IN CATEGORY*/


.product_list{
    /* Rectangle 274 */

    display: flex;

    box-sizing: border-box;


    width: 1300px;
    height: 270px;


    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    margin-bottom: 25px;


}

.product_list img{
    width: 310px;
    height: 270px;
}

.product_list a{
    text-decoration: none;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    color: #000000;

}

.product_list p{
    /* 36/M/48 */


    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #000000;


}

.product_right_part{

}

.product_right_part p{

    display: flex;
    justify-content: end;

    margin-right: 25px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    width: 340px;

    color: #000000;



}

.el_flex-end
{
    display: flex; align-items: flex-end;
}

.list_product , .block_product, .currencies, .hryvnia, .dollar, .euro{
    display: flex;
    align-items: flex-end;
}

.list_product{
    margin-left: 86px;
}

.block_product {
    margin-left: 10px;
}

.currencies, .hryvnia, .euro, .dollar{
    margin-bottom: 7px;
}

.currencies{
    margin-left: 39px;

}

.hryvnia, .euro, .dollar{
    margin-left: 25px;
}


.new{

    width: 87px;
    height: 38px;

    background: #FFE710;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new a{
    /* Нове */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #595959;


}

.street{

    display: flex;
    align-items: flex-end;

    height: 128px;
}

.street a{
    /* Київ, якась там вулиця. 14 черня 2024 */



    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */

    color: #A1A1A1;





}

.shop_btn{

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Rectangle 409 */

    box-sizing: border-box;


    width: 274px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;



}

.shop_btn a{
    /* Додати в кошик */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    color: #2E2E2E;


}

.shop_btn img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.btn_and_like{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 156px;
}


/*selected*/

.con-like {
    margin-left: 15px;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-bottom: 14px;
}

.con-like .like {


    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {


    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline{
    fill: #2E2E2E;

}
.con-like .filled {

    fill:#FFE800;
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}



.con-like .like:checked ~ .checkmark .filled {
    display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}








body.modal-open {
    overflow: hidden; /* Disable scroll on the body */
}



.modal {
    display: none; /* Приховано за умовчанням */
    position: fixed; /* Залишайтеся на місці */
    z-index: 1; /* Сісти зверху */
    padding-top: 250px; /* Розташування коробки */
    left: 0;
    top: 0;
    width: 100%; /* Повна ширина */
    height: 100%; /* Повний зріст */
    /*overflow: auto; !* Увімкнути прокручування, якщо потрібно *!*/
    background-color: rgb(0,0,0); /* Резервний колір */
    background-color: rgba(0,0,0,0.7); /* Чорний з непрозорістю */
    margin-right: 100px;


}

/* Modal Content */
.modal-content {

    /*margin-left: 120px;*/
    /*margin-top: 250px;*/
    border: 1px solid #FFFFFF;
    /*width: 80%;*/
    /*overflow: hidden ;*/


    /* Rectangle 345 */



    background: #FFFFFF;
    border-radius: 35px;

    /*pa: 125px;*/
    min-width: 1350px;
    max-width: 1350px;
    min-height: 440px;
    max-height: 440px;

    margin: 0 auto;




}

.category-column{
    width: 27%;
    overflow-y: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.submenu-column{
    width: 73%;
    margin: 33px 25px 25px;
    overflow-y: auto;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    margin-right: 25px;
    margin-top: 25px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.modal-content::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*.modal-content::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*    border-radius: 10px;*/
/*}*/

/*.modal-content::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*    border-radius: 10px;*/
/*}*/

/*.modal-content::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

.subCategory{

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    color: #2E2E2E;


}

.subSubCategory
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;


    color: #2E2E2E;


}

.menu-item a{
    text-decoration: none;
}

/*.menu-item a:hover{*/
/*    color: #A1A1A1;*/
/*}*/

.subcategories a{
    text-decoration: none;
}



/*////////////////////////////////////////////*/
/*Profile user*/


/*////////////////////////////////////////////*/
/*Кошик*/

.modal-cont {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
     /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


}

/* Modal Content */
.modal-context {

    position: absolute;
    top: 0;
    right: 0;

    overflow-y: hidden;
    overflow-x: hidden;

    padding: 35px;
    border: 1px solid #888;

    width: 595px;
    height: 886px;

    margin: 0 auto;

    /* Rectangle 461 */

    box-sizing: border-box;


    background: #FFFFFF;
    border-bottom: 5px solid #2E2E2E;
    border-radius: 0 0 0 35px;





}
.cart_text{

}


.modal-context a {
    /* Кошик */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;

    margin-left: 15px;

    color: #2E2E2E;
}

.cart_img{
    width: 35px;
    height: 35px;

    margin: 0;
    padding: 0;


}

.close_div{
    width: 100%;

    display: flex;
    justify-content: end;

    margin-top: 2px;

}

    /* The Close Button */
.close {

    margin: 0;

    width: 30px;
    height: 30px;


}

/*.close:hover,*/
/*.close:focus {*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

.cart_product_list{
    margin-top: 35px;
    width: 525px;
    height: 645px;



    overflow-y: auto;
    direction: rtl;

    overflow-x: hidden;

    margin-bottom: 25px;
}

.scrollable-content::-webkit-scrollbar {
    width: 50px; /* Ширина скроллбара */
    height: 10px;
}

.cart_product_item{

    direction: ltr;

    display: flex;

    box-sizing: border-box;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    width: 500px;
    height: 150px;

    margin-bottom: 15px;

}

.cart_product_item img{

    width: 150px;
    height: 150px;

}
.cart_product_name{
    margin-left: 21px;
    margin-top: 18px;
    width: 150px;

}

.cart_product_item p{
    /* Футболка, велика */

    margin: 0;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;


    color: #2E2E2E;


}

.cart_product_price{
    width: 170px;
    margin-bottom: 17px;
    margin-top: 24px;
}

.cart_product_price img{
    /* Group 270 */

    width: 19.19px;
    height: 10.75px;

    margin-right: 22.81px;


}

.cart_product_menu_btn{
    display: flex;
    justify-content: end;
    align-items: end;


}

.cart_product_item a{
    /* 4000 грн */
    height: 100%;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #2E2E2E;


    margin-right: 18px;
    margin-left: 0;

    display: flex;
    justify-content: end;
    align-items: end;

}


.cart_btn{
    display: flex;

    box-sizing: border-box;


    width: 455px;
    height: 78px;

    border: 3px solid #01B834;
    border-radius: 15px;

    margin-left: 35px;

}

.cart_btn a{
    /* Разом: 120000 грн */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    color: #2E2E2E;



}

.razom{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_submit{
    /* Rectangle 475 */
    position: absolute;

    border: none;

    width: 232px;
    height: 78px;

    background: #01B834;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 223px;


    bottom: 27px;

}

.button_submit a{
    /* Оформити замовлення */
    margin: 0;
    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */
    text-align: center;

    color: #FFFFFF;


}


/*//////////////////////////////////////////////////////////////*/
/*Оформлення замовленя*/

.oformennya_zamovlennya{
    margin-top: 50px;
    margin-bottom: 50px;
}


.oformennya_zamovlennya h1{
    margin: 0;

    /* Створити Оголошення */


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    color: #2E2E2E;


}

.oformennya{
    display: flex;
    margin-top: 35px;
}

/*form_zamovlennya*/

.oformennya_form{
    width: 640px;
    margin-right: 66px;
}

.form_zamovlennya{
    display: flex;
}

.form_zamovlennya label {
    /* Ім’я */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #2E2E2E;



}

.form_zamovlennya input {
    /* Rectangle 77 */

    margin-top: 15px;
    box-sizing: border-box;

    padding-left: 15px;

    width: 310px;
    height: 60px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;


}

.form_zamovlennya2{
    margin-top: 25px;
}

.form_zamovlennya2 input::placeholder{
    /* +380... */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #A1A1A1;


}

.form_zamovlennya2 label {
    /* Ім’я */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #2E2E2E;



}

.form_zamovlennya2 input {
    /* Rectangle 77 */

    margin-top: 15px;
    box-sizing: border-box;

    padding-left: 15px;

    width: 640px;
    height: 60px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;


}

.checkmark_zamovlennya{
    margin-top: 25px;
}

.checkmark_zamovlennya input{
    width: 20px;
    height: 20px;
}

.checkmark_zamovlennya label{

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #2E2E2E;


}


/*Cart*/

/*////////////////////////////////////////////*/
/*Кошик*/



/* Modal Content */
.modal-context2 {



    overflow-y: hidden;
    overflow-x: hidden;

    padding: 35px;

    width: 595px;
    height: 886px;



    /* Rectangle 461 */

    box-sizing: border-box;


    background: #FFFFFF;
    border: 3px solid #2E2E2E;
    border-radius: 15px;

}



.modal-context2 a {
    /* Кошик */



    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;

    margin-left: 15px;

    color: #2E2E2E;
}



.cart_btn2{
    display: flex;

    box-sizing: border-box;


    width: 236px;
    height: 78px;

    border: 3px solid #01B834;
    border-radius: 15px;

    /*margin-left: 35px;*/

}

.cart_btn2 a{
    /* Разом: 120000 грн */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    color: #2E2E2E;



}

.razom2{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_zamovlennya{
    margin-top: 65px;

    width: 100%;

    display: flex;
    justify-content: end;

}

.button_zamovlennya input{
    /* Rectangle 339 */
    width: 389px;
    height: 79px;

    cursor: pointer;

    background: #01B834;
    border-radius: 15px;

    border: 0 solid #ccc;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

}



