body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.login-container {
    border-radius: 15px;
    text-align: center;
    width: 550px;
}

.login-container h2 {
	margin-top: 50px;
    margin-bottom: 35px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 32px */

}




.social-login {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.social-login img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}





/* або */
.divider {
    margin-top: 35px;

    /* або */
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
}





/* Увійти */
/* Зареєструватись */
#nav {

    display: flex;
    justify-content: center;

    margin-bottom: 35px;
    margin-top: 35px;
}

#nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    gap: 72px;
}

ul{
    margin: 0;
    padding: 0;
}

/* #nav li {

   margin-left: 97px;
} */

#nav a {
    display: block;


    text-decoration: none;
    /*position: relative;*/

    /* Увійти */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
}

.login{
    /*margin-left: 38px;*/
    padding-left: 60px;
    padding-right: 60px;

    padding-bottom: 4.5px;
}



.registr a{
    color: #A1A1A1;
}

.registr{
    /*margin-left: 130px;*/
}







/* label, input email */
/* labal, input password*/
.login-form {
    text-align: left;
}

.login-form label {
    display: block;

    margin-bottom: 15px;
	margin-left: 25px;

    /* Електронна пошта */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
}


.login-form input {
    /* Rectangle 324 */

    box-sizing: border-box;

    width: 500px;
    height: 40px;

    border-radius: 15px;

    margin-left: 25px;

    padding: 15px;

    outline: none;
}


.login-form a {
    display: block;


    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 35px;
	margin-left: 25px;


    /* Забули пароль? */


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
}

.login-form a:hover{
    font-weight: 700;
}

.login-form button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    cursor: pointer;
	margin-bottom: 50px;
}




/* Під час входу ви погоджуєтесь з нашими  */
.terms {

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    text-align: center;
}

/* .pass {
    color: #2E2E2E;
} */


/* Умовами користування */
.private {

	margin-bottom: 50px;
}

.private a{
    text-decoration: none;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 100%;
}














