body{
	background-color: #2E2E2E;
}

/* Стиль для скролбару */
body::-webkit-scrollbar {
    width: 15px; /* Ширина скролбару */
}

/* Стиль для бігунка (повзунка) */
body::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 5px;
}

/* Стиль для доріжки */
body::-webkit-scrollbar-track {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

/* Стиль для скролбару */
::-webkit-scrollbar {
    width: 10px; /* Ширина скролбару */
}

/* Стиль для бігунка (повзунка) */
::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 5px;
}

/* Стиль для доріжки */
::-webkit-scrollbar-track {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}


.logo{

	filter: invert(1) grayscale(1) brightness(2);
}


.day{
	filter: invert(1) grayscale(1) brightness(2);
}

.night{
	filter: invert(1) grayscale(1) brightness(2);
}

.profile{

    filter: invert(1) grayscale(1) brightness(2);
}

.selected{
    filter: invert(1) grayscale(1) brightness(2);
}

.cart{

    filter: invert(1) grayscale(1) brightness(2);
}

.slider:before {
    background-color: #FFFFFF;
}

.switch input:checked + .slider {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.switch input:checked + .slider:before{
    background-color: #2A2A2A;
}

.search, .search_map {
    border: 3px solid #FFFFFF;
}

.active-region {
    color: #FFFFFF;
}

.inactive-region {
    color: #A1A1A1;
}

.search input, .search_map input{
    background-color: #2E2E2E;
    color: #A1A1A1;
}

.search img,  .search_map img{
    filter: invert(1) grayscale(1) brightness(2);
}

.cont_region2{
    background: #2E2E2E;
    color: #FFFFFF;

    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #FFFFFF;


}

button  {
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
}

button p {
    color: #2A2A2A;
}

button img{
    filter: invert(1) grayscale(1) brightness(2);
}

/* footer */

.logo-footer{
    filter: invert(1) grayscale(1) brightness(2);
}

hr{

    border: 5px solid #FFFFFF;
}

.footer-list a{

    color: #FFFFFF;
}


.title a{

    color: #FFFFFF;
}

.images{
    filter: invert(1) grayscale(1) brightness(2);
}

/*  */
h1{
    color: #FFFFFF;
}

/*p{*/
/*    color: #FFFFFF;*/
/*}*/
/*  */


/*Home Page*/
.box
{
    background-color: #FFFFFF;
}

.box p{
    /* Текст */
    color: #2E2E2E;
}

/*slider*/

.line1 .slider1{
    background-color: #2E2E2E;
}

.prev, .next {
    filter: invert(1) grayscale(1) brightness(2);
}

/*cat home model*/


.menu-item:hover {
    background-color: #FFFFFF; /* Изменяет цвет фона блока */
    color: #2E2E2E; /* Изменяет цвет текста */
}

.menu-item:hover * {
    color: #2E2E2E;
}

.menu-item {
    border-left: 5px solid #FFFFFF;
}

.menu-item p
{
    color: #FFFFFF;
}

.menu-item img
{
    filter: invert(1) grayscale(1) brightness(2);
}

/*Зараз передивляються*/

.now_watch h1{
    color: #FFFFFF;
}

/*VIP*/

.Vip_product h1 {
    color: #FFFFFF;
}

/*Бізнес Для Вас*/
.Bigness_products h1{
    color: #FFFFFF;
}

.bigness_product_item{
    background: #FFFFFF;
}

.bigness_product_item a{
    color: #2E2E2E;
}

.bigness_product_item p{
    /* 400 грн */
    color: #2E2E2E;
}

.bigness_product_item .shop_btn{
    border: 3px solid #2E2E2E;
}

.bigness_product_item .shop_btn a{
    color: #2E2E2E;
}

/*search*/

.search_div h1{
    color: #2E2E2E;
}

.search_zapit{
    border: 3px solid #FFFFFF;
}

.search_zapit p{
    color: #FFFFFF;
}

/*Modal*/

.modal-content {
    border: 5px solid #FFFFFF;
    background: #2E2E2E;
}

.cat_name_modal{
    color: #FFFFFF;
}

.subCategory{
    color: #FFFFFF;
}

.subSubCategory
{
    color: #FFFFFF;
}


/*////////////////////////////////////////////*/
/*oformennya_zamovlennya*/

.oformennya_zamovlennya h1{
    color: #FFFFFF;
}

.form_zamovlennya label {
    /* Ім’я */
    color: #FFFFFF;
}

.form_zamovlennya input {
    border: 3px solid #FFFFFF;
    background: #2E2E2E;
    color: #FFFFFF;
}

.form_zamovlennya2 label {
    color: #FFFFFF;
}

.form_zamovlennya2 input {
    border: 3px solid #FFFFFF;
    background: #2E2E2E;
    color: #FFFFFF;
}

.form_zamovlennya2 .NovaPost, .SpOplata{
    border: 3px solid #FFFFFF;
    color: #A1A1A1;
}

.oformlenya_content{
    border-color: #FFFFFF;
}

label.checkbox_item{
    color: #FFFFFF;
}

.checkmark_zamovlennya label{
    color: #FFFFFF;
}

/*////////////////////////////////////////////*/
/*Кошик/*oformennya_zamovlennya**/

.modal-context2 {
    background: #2E2E2E;
    border: 3px solid #FFFFFF;
}

.modal-context2 a {
   color: #FFFFFF;
}

















/*////////////////////////////////////////////*/


/*////////////////////////////////////////////*/
/*Cart*/

.cart_empty a{
    color: #FFFFFF;
}

.modal-context a {
    /* Кошик */
    color: #FFFFFF;
}

.cart_img{
    filter: invert(1) grayscale(1) brightness(2);
}

/* The Close Button */
.close {
    filter: invert(1) grayscale(1) brightness(2);
}

/* Modal Content */
.modal-context {
    background: #2E2E2E;
    border-bottom: 5px solid #FFFFFF;
}

.modal-context a {
    /* Кошик */
    color: #FFFFFF;
}

/*cart_product*/

.cart_product_item{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.cart_product_item p{
    /* Футболка, велика */
    color: #FFFFFF;
}

.cart_product_price img{
    filter: invert(1) grayscale(1) brightness(2);
}

/*///////////////////////////////////////*/
/*Categories PAGE*/

.Categories h3{
    /* Фільтри */
    color: #FFFFFF;
}

.Categories p{
    color: #FFFFFF;
}

.sort_price{
    border: 3px solid #FFFFFF;
    color: #A2A2A2;
    background-color: #2E2E2E;
}

.type_advertisement h3{
    color: #FFFFFF;
}

.type_active{
    border-bottom: 3px solid #FFFFFF;
}

.sort_menu{
    /* Сортувати за */
    color: #FFFFFF;
}

.list_product{
    filter: invert(1) grayscale(1) brightness(2);
}

.block_product{
    filter: invert(1) grayscale(1) brightness(2);
}

.currencies{
    color: #FFFFFF;
}

.active_valut{
    color: #FFFFFF;
}


/*PRODUCT LIST IN CATEGORY*/

.product_list{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.product_list a{
    color: #FFFFFF;
}

.product_list p{
    color: #FFFFFF;
}

.product_right_part p{
    color: #FFFFFF;
}

.new a{
    /* Нове */
    color: #595959;
}

.street a{
    /* Київ, якась там вулиця. 14 черня 2024 */
    color: #A1A1A1;
}

.shop_btn{
    border: 3px solid #FFFFFF;
}

.shop_btn a{
    /* Додати в кошик */
    color: #FFFFFF;
}

.shop_btn img{
    filter: invert(1) grayscale(1) brightness(2);
}

.con-like .outline{
    fill: #FFFFFF;

}


/*////////////////////////////////////////////////////*/
/*Product_Cart*/

.Product-content p{
    color: #FFFFFF;
}

.Product-content a{
    color: #FFFFFF;
}

.Product-cart h3{
    color: #FFFFFF;
}

.product_price{
    color: #FFFFFF;
}

.Product-cart h2{
    color: #FFFFFF;
}

.Product-cart p{
    color: #FFFFFF;
}

.button_chat{
    filter: invert(1) grayscale(1) brightness(2);

    color: #FFFFFF;
}

.prod_desc{
    border-bottom: 3px solid #FFFFFF;

    color: #FFFFFF;
}

.product_description{
    color: #FFFFFF;
}

.recommendations p{
    /* Може зацікавити */
    color: #FFFFFF;
}

.product-item-info {
    color: #FFFFFF;
}

.product-item-info a,
.product-item-info p{
    color: #FFFFFF;
}

/*////////////////////////////////////////////////*/
/*User profile*/
/*menu*/

.profile_menu{
    border-color: #FFFFFF;
}

.user_name{
    color: #FFFFFF;
}

.profile_menu_item.active1{
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

.profile_menu_item img
{
    filter: invert(1) grayscale(1) brightness(2);
}

.profile_menu_item p
{
    /* Краса та здоров’я */
    color: #FFFFFF;
}

.profile_menu_item:hover, .profile_menu_item:focus {
    background-color: #474747;
}

/*//////////////////////////////////////////////*/
/*User profile*/
/*Ваші оголошення*/

.profile_page_name{
    color: #FFFFFF;
}

.advertisement_menu_item{
    border-top: 5px solid #FFFFFF;
}

.advertisement_menu_item.Active {
    border-top-color: #FFFFFF;
}

.advertisement_menu_item.inactive {
    border-top-color: #A1A1A1;
}


.create_btn{
    background: #FFFFFF;
    border-top: 5px solid #FFFFFF;
}

.create_btn p{
    color: #2E2E2E;
}

.product_list_user{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.deleteLike h3{
    /* Прибрати з обраного */
    color: #FFFFFF;
}

.product_list_user a{
    color: #FFFFFF;

}

.product_list_user p{
    color: #FFFFFF;


}

.product_right_part_user p{
    color: #FFFFFF;
}

.street_create a{
    color: #A1A1A1;

}

.price_my_prod p {
    color: #FFFFFF;
}

.count_like{
    color: #FFFFFF;
}

.pen_edit{
    filter: invert(1) grayscale(1) brightness(2);
}

.modal-content5 h2{
    color: #FFFFFF;
}

.modal-content5 {
    background: #2E2E2E;
}
.close-button5 {
    color: #FFFFFF;
}

.modal-content5 button{
    color: #2E2E2E;
    background: #FFFFFF;
}


/*/////////////////////////////////////////////*/
/*create_page*/

.create_page h1{
    color: #FFFFFF;
}

.create_content label{
    color: #FFFFFF;
}

.create_content input{
    border: 3px solid #FFFFFF;
}

.create_content textarea{
    border: 3px solid #FFFFFF;
}

.img_box{
    border: 3px solid #FFFFFF;
    background-color: #474747;
}


.img_box img.kamera{
    filter: invert(1) grayscale(1) brightness(2);
}

.img_box p{
    /*    text*/
    /* Додати фото */
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}


.price_create label{
    color: #FFFFFF;
}

label.vip_create_item{
    color: #FFFFFF;
}

label.QuickPlus_create_item{
    color: #A1A1A1;
}

.button_create{
    background: #FFFFFF;
}

.button_create p{
    color: #2E2E2E;
}

.create_content input{
    background: #2E2E2E;
    color: #FFFFFF;
}

.info_create input{
    background: #2E2E2E;
    color: #FFFFFF;
}


.create_content textarea{
    background: #2E2E2E;
    color: #FFFFFF;
}

.create_content.selected2{
    color: #FFFFFF;
}

.create_content.unselected2{
    color: #A1A1A1;
}

.cont_region{
    color: #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    background-color: #2E2E2E;
}


/*//////////////////////////////////////////////*/
/*Chats*/

.message_list{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.message_list a{
    color: #FFFFFF;
}

.message_list p{
    /* Доброго дня! Я б хотів купити футболку */
    color: #FFFFFF;
}

.modal-content5 {
    background-color: #2A2A2A;
}
.close-button5 {

}

.modal-content5 button{
    color: #2A2A2A;
}

.modal-content5 h2{
    color: #FFFFFF;
}

.modal-content5 p{
    color: #FFFFFF;
}

/*//////////////////////////////////////////////////////*/
/*Chat*/

.chat_div{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.chat_info p{
    color: #FFFFFF;
}

/* Стилі для повідомлень */
.message-box {
    /*background: #2A2A2A;*/
    background: #474747;
    border: 2px solid #FFFFFF;

    /* Доброго дня! Я б хотів купити футболку */
    color: #2E2E2E;
}

.message-box p{
    color: #FFFFFF;
}

.message-box a{
    color: #FFFFFF;
}

.input_container input{
    background: #474747;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}

button.btn_message {
    color: #2A2A2A;
    background: #FFFFFF;
}

.emoji-container {
    background: #2E2E2E;
    border: 2px solid #FFFFFF;
}

.emoji_scroll{
    background: #2E2E2E;
}


.micIcon2{
    filter: invert(1) grayscale(1) brightness(2);
}

.icons{
    filter: invert(1) grayscale(1) brightness(2);
}

.menu_chat img{
    filter: invert(1) grayscale(1) brightness(2);
}



/*//////////////////////////////////////////////////////////////*/
/*history_zamovlennya*/

.search_user_icon2 img{
    filter: invert(1) grayscale(1) brightness(2);
}

.search_user_icon2 input{
    border: 3px solid #FFFFFF;
    background: #2E2E2E;
}

.search_user_icon2 input{
    color: #A1A1A1;
}

.search_user_icon2 button{
    background: #FFFFFF;
    color: #2E2E2E;
}

.product_zamovlennya{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.product_zamovlennya h3{
    /* Футболка, велика */
    color: #FFFFFF;
}

.product_zamovlennya a{
    /* Від 6 грудня 2022 */
    color: #FFFFFF;
}

.product_zamovlennya h4{
    color: #FFFFFF;
}

.product_zamovlennya p{
    color: #01B834;
}


/*////////////////////////////////*/
/*Subscription*/


.Regular_subscription,
.QuickPlus_subscription,
.QuickPro_subscription
{
    border-color: #FFFFFF;
}

.Regular_subscription h4{
    /* Звичайна */
    color: #FFFFFF;
}

.QuickPlus_subscription h4{
    /* QuickPlus */
    color: #FFFFFF;
}

.QuickPro_subscription h4{
    /* QuickPro */
    color: #FFFFFF;
}

.QuickPro_subscription a{
    /* Тільки для “Бізнес” */
    color: #A1A1A1;
}

.checkmark0,
.checkmark1{
    border: 1px solid #FFFFFF;
}

.checkmark1{
    background: #FFFFFF;
}

.price_subscription.active2{
    background-color: #2E2E2E;
    color: #FFFFFF;
}

.price_subscription{
    border: 3px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

.preimushchestva p{
    color: #FFFFFF;
}

/*/////////////////////////////////////////////*/
/*Setting*/

.setting_menu{
    background: #474747;
    border-color: #FFFFFF;
}

.setting_menu a{
    color: #FFFFFF;
}

.setting_menu img{
    filter: invert(1) grayscale(1) brightness(2);
}

.accordion-content{
    background-color: #474747;
    border-color: #FFFFFF;
}

.cont label{
    /* Ім’я */
    color: #FFFFFF;
}

.cont input{
    border: 1px solid #FFFFFF;
    background: #474747;
    color: #FFFFFF;
}

.btn_setting button{
    background: #FFFFFF;
    color: #2E2E2E;
}







/*////////////////////////////////////////////////////////*/
/*ADMIN*/

.admin_profile_menu{
    border-color: #FFFFFF;
}

.admin_name{
    /* Привіт, admin */
    color: #FFFFFF;
}

.admin_profile_menu_item.active1{
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

.admin_profile_menu_item img
{
    filter: invert(1) grayscale(1) brightness(2);
}

.admin_profile_menu_item p
{
    /* Краса та здоров’я */
    color: #FFFFFF;

}

.admin_profile_menu_item:hover, .admin_profile_menu_item:focus {
    background-color: #474747;
}

/*////////////////////////////////////////////////////////*/
.home_admin h3{
    color: #FFFFFF;
}

.new_static img{
    filter: invert(1) grayscale(1) brightness(2);
}

.new_static p, .new_static a{
    /* Нові оголошення */
    color: #FFFFFF;
}

.zamov_static p, .zamov_static a{
    /* Активні */
    color: #FFFFFF;
}

/*Newly_add list product*/

.product_list_admin{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.my_product_info a{
    color: #FFFFFF;
}

.my_product_info p{
    color: #FFFFFF;
}

.product_right_part_user p{
    /* 4000 грн */
    color: #FFFFFF;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*Category_page Admin*/

.category_admin_div{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.category_admin_div input{
    color: #A1A1A1;
    background: #474747;
}

.category_admin_div button{
    background: #FFFFFF;
    /* Пошук */
    color: #2E2E2E;
}

.cat_name_admin p {
    color: #FFFFFF;
}

.subcategoriesAdm p{
    color: #FFFFFF;
}

.add_cont_cat{
    background: #474747;
    border: 3px solid #FFFFFF;
}

.add_cont_cat label{
    /* Вкажіть назву */
    color: #FFFFFF;
}

.add_cont_cat input{
   color: #FFFFFF;
}


/*/////////////////////////////////////////////////////////////////////////////*/
/*ProductAdminList*/

.admin_product_all_list{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.prod_list_adm .admin_product_all_list .prod_name_adm a{
    /* Футболка, велика */
    color: #FFFFFF;
}

.prod_list_adm .admin_product_all_list .desc_prod_adm p{
    color: #FFFFFF;
}

.prod_list_adm .admin_product_all_list .price_prod_adm p{
    /* 4000 грн */
    color: #FFFFFF;
}

.prod_list_adm .count_like{
    color: #FFFFFF;
}

.prod_list_adm .admin_product_all_list .sms,
.prod_list_adm .admin_product_all_list .ban,
.prod_list_adm .admin_product_all_list .warning{
    filter: invert(1) grayscale(1) brightness(2);
}

.users_admin_page input{
    border: 3px solid #FFFFFF;
    background: #2A2A2A;
}


.users_admin_page button{
    background: #FFFFFF;
    color: #2E2E2E;
}

.search_user_icon img{
    filter: invert(1) grayscale(1) brightness(2);
}

.users_div{
    background: #474747;
    border-right: 5px solid #FFFFFF;
}

.cont_table td{
    /* Ім’я користувача */
    color: #FFFFFF;
}

.point{
    background-color: #FFFFFF;
}

.add_user{
    background: #FFFFFF;
}

.add_user p{
    /* Додати */
    color: #2E2E2E;
}

.add_cont input{
    background: #474747;
}

/*//////////////////////////////////////////////////////*/
/*Modal*/


.add_cont{

    background: #474747;
    border: 3px solid #FFFFFF;
}

.add_cont label{
    /* Ім’я користувача */
    color: #FFFFFF;
}

.add_cont input{
    border: 3px solid #FFFFFF;
    background: #474747;
    color: #FFFFFF;
}

.add_cont button{
    background: #FFFFFF;
    color: #2E2E2E;
}

.x{
    color: #FFFFFF;
}

.rol_user{
    background: #474747;
    border: 3px solid #FFFFFF;
}

.rol_user a{
    /* Роль */
    color: #FFFFFF;
}

.rol_user img{
    filter: invert(1) grayscale(1) brightness(2);
}

.cont_role{
    background: #474747;
    border-color: #FFFFFF;
}

.cont_role p{
    color: #FFFFFF;
}

.menu22 {
    background: #474747;
    border: 3px solid #FFFFFF;
}

.menu22 li:hover {
    font-weight: 700;
    color: #FFFFFF;
}

.menu22 li {
    border-bottom: 1px solid #FFFFFF;

    border-bottom: 1px solid #FFFFFF;
}


/*////////////////////////////////////////////////////////////////////////////*/

/*login*/

.login-container {
    background-color: #474747;
    border: 3px solid #FFFFFF;
}

.login-container h2 {
    color: #FFFFFF;
}

.social-login img {
    filter: invert(1) grayscale(1) brightness(2);
}

.divider {
    color: #FFFFFF;
}

.login{
    /*margin-left: 38px;*/
    border-bottom: 3px solid #FFFFFF;
}

.login a{
    color: #FFFFFF;
}

.registr a:hover{
    color: #FFFFFF;
}

.login-form label {
    color: #FFFFFF;
}

.login-form input {
    background: #474747;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.login-form a {
    color: #FFFFFF;
}

.login-form button {
    background-color: #FFFFFF;
    color: #2E2E2E;
}

/* Під час входу ви погоджуєтесь з нашими  */
.terms {
    color: #FFFFFF;
}

.private a{
    color: #FFFFFF;
}


/*////////////////////////////////////////////////////////////////////////////*/

/*register*/

.dropdown-label {
    color: #FFFFFF;
}

.dropdown-container {
    background-color: #474747;
}

.dropdown-select {
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;

    color: #FFFFFF;

    background-color: #474747;
}

select:focus {
    outline: none !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

.login2 a{
    color: #A1A1A1;
}

.registr2 a{

    color: #FFFFFF;
}

.login2 a:hover{
    color: #FFFFFF;
}

.registr2{

    border-bottom: 3px solid #FFFFFF;

}



/*////////////////////////////////////////////////////////////////////////////*/
/*footer*/

.about_quickPost h1,
.about_quickPost h2,
.about_quickPost p
{
    color: #FFFFFF;
}

/*.about_quickPost img{*/
/*    filter: invert(1) grayscale(1) brightness(2);*/
/*}*/

.ContentProtectionQuickPost h1,
.ContentProtectionQuickPost p
{
    color: #FFFFFF;
}

.ContentProtectionQuickPost img{
    border-right: 10px solid #FFFFFF;
    filter: drop-shadow(5px 0px 5px rgba(255, 255, 255, 0.25));
}

/*///////////////////////////////*/

.terms_of_service h1,
.terms_of_service h2,
.terms_of_service h3,
.terms_of_service p,
.terms_of_service a
{
    color: #FFFFFF;
}

.terms_of_service_img1 img,
.terms_of_service_img2 img
{
    border-left: 10px solid #FFFFFF;
    filter: drop-shadow(-5px 0px 5px rgba(255, 255, 255, 0.25));
}

.terms_of_service_img3 img,
.terms_of_service_img4 img,
.terms_of_service_img5 img
{
    border-right: 10px solid #FFFFFF;
    filter: drop-shadow(5px 0px 5px rgba(255, 255, 255, 0.25));
}
