body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.login-container {
    border-radius: 15px;
    text-align: center;
    width: 550px;
}

.login-container h2 {
    margin-top: 50px;
    margin-bottom: 35px;


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}






.social-login {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.social-login img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}





/* або */
.divider {


    margin-top: 35px;


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}





/* Увійти */
/* Зареєструватись */
#nav {


    margin-bottom: 35px;
    margin-top: 35px;

}

#nav ul {


    display: flex;
    margin-left: 119px;
    list-style: none;

    gap: 124px;

}

ul{
    margin: 0;
	padding: 0;
}

/* #nav li {

   margin-left: 97px;
} */

#nav a {
    display: block;


    text-decoration: none;
    /*position: relative;*/

    /* Увійти */


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
}

.login{
    /*margin-left: 60px;*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
}

.registr2{

    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 8px;
}

/*label {*/
/*    color: #2E2E2E;*/
/*}*/



.dropdown-container {
    display: flex;
    align-items: center;
}

.dropdown-label {
    margin-right: 10px;
    /* Регестрація як */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
}

.dropdown-select {
    border-radius: 5px;
    font-size: 16px;
    width: 500px;
    height: 40px;
    margin-left: 25px;

    border-top: none;
    border-bottom: none;
}


/* label, input email */
/* labal, input password*/
.login-form {
    text-align: left;
}

.login-form label {
    /* Ім’я прізвище */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    display: block;
    margin-top: 25px;

	margin-left: 25px;
}


.login-form input {
    box-sizing: border-box;

    width: 500px;
    height: 40px;

    border-radius: 15px;
	margin-left: 25px;

    display: block;
    margin-top: 15px;

    padding: 15px;
}


.login-form a {
    display: block;
    font-size: 20px;
	font-weight: 300;
    text-decoration: none;
    margin-bottom: 35px;
	margin-left: 15px;
}

.login-form button {
    width: 240px;
    height: 50px;

    border-radius: 15px;

    cursor: pointer;
	margin-bottom: 50px;
    margin-top: 35px;

    /* Зареєструватись */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
}


/* Під час входу ви погоджуєтесь з нашими  */
.terms {

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    text-align: center;
}

/* .pass {
    color: #2E2E2E;
} */


/* Умовами користування */
.private {

    margin-bottom: 50px;
}

.private a{
    text-decoration: none;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 100%;
}








