.profile_page{
    margin: 50px 0 50px 0;

    display: flex;
}

.profile_content{
    margin-left: 20px;
}



.profile_menu{

    width: 310px;
    height: 690px;


    box-sizing: border-box;

    border-width: 5px 0;
    border-style: solid;
    border-color: #2E2E2E;
    border-radius: 5px;
}

.info_user{
    display: flex;
    margin-top: 35px;
    word-break: break-all;
}

.user_name{

    display: flex;
    align-items: center;

    height: 125px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #2E2E2E;

    margin-left: 15px;

}



.avatar img{

    width: 125px;
    height: 125px;

    border-radius: 75px;

}

.profile_menu_item {

    /*margin-top: 25px;*/
    margin-top: 10px;
    cursor: pointer;
    box-sizing: border-box;

    /*margin-bottom: 10px;*/

    width: 310px;
    height: 50px;


    border-radius: 5px 5px 5px 5px;


    border-left: 5px solid #A1A1A1;
    border-right: 5px solid #A1A1A1;

    /*border-left: 5px solid #2E2E2E;*/
    /*border-right: 5px solid #2E2E2E;*/





    display: flex;

    align-items: center;

}

.profile_menu_item.active1{
    border-left: 5px solid #2E2E2E;
    border-right: 5px solid #2E2E2E;

}


.profile_menu_item img
{

    margin-left: 15px;
    width: 30px;
    height: 30px;

}

.profile_menu_item a{
    text-decoration: none;
    margin-left: 10px;
}




.profile_menu_item p
{


    /* Краса та здоров’я */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;


    color: #2E2E2E;
    margin: 0 0 0 0;

}

form p{

    margin-left: 10px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;


    color: red;
    margin: 0 0 0 0;
}



.profile_menu_item:hover, .profile_menu_item:focus {
    background-color: #f0f0f0;
}


.product_list_user{
    /* Rectangle 274 */

    /*margin-top: 50px;*/

    display: flex;

    box-sizing: border-box;


    width: 970px;
    height: 270px;


    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    margin-bottom: 25px;


}

.product_list_user img{
    width: 310px;
    height: 270px;
}

.product_list_user a{
    text-decoration: none;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    color: #000000;

}

.product_list_user p{
    /* 36/M/48 */


    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #000000;


}

.product_right_part_user{

}

.product_right_part_user p{

    display: flex;
    justify-content: end;

    margin-right: 25px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    width: 225px;

    color: #000000;



}

.street_create{
    display: flex;
    align-items: flex-end;

    height: 165px;
}

.street_create a{
    /* Київ, якась там вулиця. 14 черня 2024 */

    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */

    color: #A1A1A1;

}



/*//////////////////////////////////////////////*/

.profile_page_name{

    margin: 0;

    /* Ваші оголошення */

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;


    color: #2E2E2E;


}

.create_btn{
    width: 310px;
    height: 50px;
    margin-left: 351px;
    background: #2E2E2E;
    border-radius: 15px;


}

.create_btn a{
    text-decoration: none;
}

.create_btn p{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23.9px;
    line-height: 100%;

    color: #FFFFFF;
}

.advertisement_menu_item{

    margin-top: 17px;
    margin-right: 20px;
    box-sizing: border-box;


    width: 310px;
    height: 50px;

    /*border-top: 5px solid #2E2E2E;*/
    border-top: 5px solid #A1A1A1;
    border-radius: 5px;

}

.advertisement_menu_item a{
    text-decoration: none;
}

.advertisement_menu_item p{

    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    /*color: #2E2E2E;*/
    color: #A1A1A1;

    height: 50px;
    display: flex;
    justify-content: center;

    align-items: center;
}


.My_product{

    margin-top: 35px;
    box-sizing: border-box;

    width: 970px;
    height: 270px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

}





/*///////////////////////////////////////*/
/*message*/




















/*/////////////////////////////////////////////*/
/*create_page*/



.create_page{
    margin-top: 50px;
    margin-bottom: 50px;
}

.create_page h1{
    width: 397px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;

    color: #2E2E2E;

    margin: 0;

}

.create_content{
    margin-top: 35px;
}

create_content #input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.create_content label{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: #2E2E2E;
}

.create_content input{

    padding: 15px;
    margin-top: 15px;
    box-sizing: border-box;

    width: 640px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;

}

.create_content textarea{

    padding: 15px;
    overflow: hidden; resize: none;

    width: 640px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;
}

.qwe #input{
    padding: 10px;
}

.img_boxes{
    margin-top: 15px;
    margin-bottom: 35px;
}

.img_box{

       /*20px між бокс фото*/

    margin-right: 20px;
    box-sizing: border-box;

    width: 145px;
    height: 145px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;

    display: flex;
    justify-content: center;

    align-items: center;
}

.img_box p{


    /*    text*/

    /* Додати фото */



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    padding-bottom: 1px;
    border-bottom: 1px solid #000000;

    color: #2E2E2E;




}

.file_img{
    width: 140px;
    height: 140px;
    border-radius: 15px;
}

.price_create label{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: #2E2E2E;


}


.price_create input{
    width: 310px;
    height: 50px"
}

.info_create{
    margin-left: 20px;
}

.info_create input{
    width: 310px;
    height: 50px;
}

.vip_create{
    margin-top: 35px;
}

.vip_create input{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

label.vip_create_item{
    margin-left: 15px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;


    color: #2E2E2E;


}

.QuickPlus_create_item{
    height: 28px;
    display: flex;

    align-items: end;
}

label.QuickPlus_create_item{
    /* Тільки з підпискою QuickPlus */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    color: #A1A1A1;

}

.button_create{
    width: 310px;
    height: 60px;
    background: #2E2E2E;
    border-radius: 15px;
    margin-left: 330px;
    margin-top: 70px;
}

.button_create p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

