input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.profile_page{
    margin: 50px 0 50px 0;

    display: flex;
}

.profile_content{
    margin-left: 20px;
}



.profile_menu{
    width: 310px;
    height: 690px;

    box-sizing: border-box;

    border-width: 5px 0;
    border-style: solid;
    border-radius: 5px;
}

.info_user{
    display: flex;
    margin-top: 35px;
    word-break: break-all;
}

.user_name{
    display: flex;
    align-items: center;

    height: 125px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-left: 15px;
}



.avatar{
    display: flex;
    align-items: center;
}

.avatar img{

    width: 125px;
    height: 125px;

    border-radius: 75px;

}

.profile_menu_item {
    /*margin-top: 25px;*/
    margin-top: 10px;
    cursor: pointer;
    box-sizing: border-box;

    /*margin-bottom: 10px;*/

    width: 310px;
    height: 50px;

    border-radius: 5px 5px 5px 5px;

    border-left: 5px solid #A1A1A1;
    border-right: 5px solid #A1A1A1;

    /*border-left: 5px solid #2E2E2E;*/
    /*border-right: 5px solid #2E2E2E;*/

    display: flex;

    align-items: center;
}


.profile_menu_item img
{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.profile_menu_item a{
    text-decoration: none;
    margin-left: 10px;
}




.profile_menu_item p
{
    /* Краса та здоров’я */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    margin: 0 0 0 0;
}

form p{

    margin-left: 10px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;


    color: red;
    margin: 0 0 0 0;
}



.profile_menu_item:hover, .profile_menu_item:focus {
    background-color: #f0f0f0;
}


.product_list_user{
    /* Rectangle 274 */

    /*margin-top: 50px;*/

    display: flex;

    box-sizing: border-box;

    width: 970px;
    height: 270px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    margin-bottom: 25px;
}

.product_list_user img{
    width: 310px;
    height: 270px;
}

.product_list_user a{
    text-decoration: none;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    color: #000000;

}

.product_list_user p{
    /* 36/M/48 */


    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #000000;


}

.my_product_info{
    position: relative;

    margin-left:20px;
    margin-top: 20px;
    width: 40%;
}

.my_product_info p, .my_product_info a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
}


.product_right_part_user{
    position: relative;
}

.product_right_part_user p{

    display: flex;
    justify-content: end;

    margin-right: 25px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    width: 225px;

    color: #000000;



}

.street_create{
    position: absolute;
    bottom: 0;
}

.street_create a{
    /* Київ, якась там вулиця. 14 черня 2024 */

    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */

    color: #A1A1A1;

}



/*//////////////////////////////////////////////*/

.profile_page_name{
    margin: 0;
    /* Ваші оголошення */
    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.create_btn{
    width: 310px;
    height: 50px;

    border-radius: 15px;

    margin-top: 17px;
    margin-right: 20px;
}

.create_btn a{
    text-decoration: none;
}

.create_btn p{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23.9px;
    line-height: 100%;
}

.advertisement_menu_item{

    margin-top: 17px;
    margin-right: 20px;
    box-sizing: border-box;


    width: 310px;
    height: 50px;

    /*border-top: 5px solid #2E2E2E;*/
    border-radius: 5px;

    cursor: pointer;
}

.advertisement_menu_item a{
    text-decoration: none;
}

.advertisement_menu_item p{

    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    /*color: #2E2E2E;*/
    color: #A1A1A1;

    height: 50px;
    display: flex;
    justify-content: center;

    align-items: center;
}


.My_product{

    margin-top: 35px;
    box-sizing: border-box;

    width: 970px;
    height: 270px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

}





/*///////////////////////////////////////*/
/*message*/




















/*/////////////////////////////////////////////*/
/*create_page*/



.create_page{
    margin-top: 50px;
    margin-bottom: 50px;
}

.create_page h1{
    width: 397px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;

    color: #2E2E2E;

    margin: 0;

}

.cont_region{
    display: none;
    position: absolute;
    background: #FFFFFF;
    width: 310px;
    height: 400px;
    padding: 0 15px 15px 15px;
    color: #2E2E2E;

    overflow-y: auto;
    border-left: 5px solid #2E2E2E;
    border-right: 5px solid #2E2E2E;
}

.cont_region a{
    cursor: pointer;
}

.cont_region a:hover{
    font-weight: 700;
}

.create_content{
    margin-top: 35px;
}

.create_content #input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;

}

.create_content textarea::placeholder,
.create_content input::placeholder{
    /* Коротко опишіть ваш товар */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    color: #A1A1A1;


}



.create_content label{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: #2E2E2E;
}

.create_content input{

    padding: 15px;
    margin-top: 15px;
    box-sizing: border-box;

    width: 640px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;

}

.create_content textarea{

    padding: 15px;
    overflow: hidden; resize: none;

    width: 640px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;
}

.qwe #input{
    padding: 10px;
}

.img_boxes{
    margin-top: 15px;
    margin-bottom: 35px;
}

.img_box{

    /*20px між бокс фото*/


    box-sizing: border-box;

    width: 145px;
    height: 145px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;

    display: flex;
    justify-content: center;

    align-items: center;
}

.img_box p{


    /*    text*/

    /* Додати фото */



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    padding-bottom: 1px;
    border-bottom: 1px solid #000000;

    color: #2E2E2E;




}

.file_img{
    width: 140px;
    height: 140px;
    border-radius: 15px;
}

.price_create label{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: #2E2E2E;


}


.price_create input{
    width: 310px;
    height: 50px"
}

.info_create{
    margin-left: 20px;
}

.info_create input{
    width: 310px;
    height: 50px;
}

.vip_create{
    margin-top: 35px;
}

.vip_create input{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

label.vip_create_item{
    margin-left: 15px;

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;


    color: #2E2E2E;


}

.QuickPlus_create_item{
    height: 28px;
    display: flex;

    align-items: end;
}

label.QuickPlus_create_item{
    /* Тільки з підпискою QuickPlus */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    color: #A1A1A1;

}

.button_create{
    width: 310px;
    height: 60px;
    background: #2E2E2E;
    border-radius: 15px;
    margin-left: 330px;
    margin-top: 70px;
}

.button_create p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}



/*////////////////////////////////*/
/*Subscription*/
.Subscriptions{
    margin-top: 35px;
}

.Regular_subscription,
.QuickPlus_subscription,
.QuickPro_subscription
{
    box-sizing: border-box;
    width: 310px;
    height: 375px;

    border-width: 5px 3px 0 3px;
    border-style: solid;
    border-color: #2E2E2E;
    border-radius: 15px 15px 0 0;
    margin-right: 20px;
}

.Regular_subscription h4,
.QuickPlus_subscription h4,
.QuickPro_subscription h4
{
    margin: 0;
    padding: 0;
}


.Regular_subscription{

}

.QuickPlus_subscription{

}

.QuickPro_subscription{

}

.name_subscription{
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.Regular_subscription h4{
    /* Звичайна */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

    color: #000000;

}

.QuickPlus_subscription h4{
    /* QuickPlus */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;

    color: #000000;

}

.QuickPro_subscription h4{
    /* QuickPro */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    color: #000000;

}

.text_only{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.QuickPro_subscription a{
    /* Тільки для “Бізнес” */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;

    color: #A1A1A1;


}

.checkmark0,
.checkmark1{
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 1px solid #2E2E2E;
    border-radius: 5px;

    margin-bottom: 36px;
}

.checkmark0{

}

.checkmark1{
    background: #2E2E2E;
}

.preimushchestva{
    margin-left: 15px;
}

.preimushchestva p{
    margin: 0;
    padding: 0;
}

.price_subscription.active2{
    background-color: #FFFFFF;
    color: #000000;

}

.price_subscription{

    border: 3px solid #2E2E2E;

    width: 310px;
    height: 60px;

    box-sizing: border-box;

    border-radius: 0px 0px 15px 15px;

    display: flex;
    text-align: center;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */


    background-color: #2E2E2E;


    color: #FFFFFF;

}

.price_subscription p{
    margin: 0;
    padding: 0;

    /* Активно */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;





}


/*/////////////////////////////////////////////*/
/*Setting*/

.all_setting_menu{
    margin-top: 50px;
}

.setting_menu_block{
    margin-bottom: 15px;
}

.setting_menu{


    cursor: pointer;

    box-sizing: border-box;


    width: 970px;
    height: 75px;

    background: #EFEFEF;
    border-width: 1px 5px 1px 1px;
    border-style: solid;
    border-color: #2E2E2E;
    border-radius: 10px;




    /*margin-bottom: 15px;*/


}

.setting_menu a{
    /* Персональні дані */
    margin-left: 15px;

    display: flex;
    text-align: center;

    align-items: center;

    /* Центрирование по вертикали */

    height: 74px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #2E2E2E;

    width: 980px;


}

.setting_menu img{
    width: 30px;
    height: 30px;
    margin-top: 23px;
    margin-right: 15px;


}

.imge{
    background-color: red;
    display: flex;
    text-align: end;
    align-items: end;
}

.accordion-content{
    display: none;


    width: 970px;
    height: 119px;

    background-color: #EFEFEF;

    /* Rectangle 312 */

    box-sizing: border-box;

    border-width: 0px 5px 1px 1px;
    border-style: solid;
    border-color: #2E2E2E;
    border-radius: 0  0  10px 10px;

}

.cont{
    margin-left: 25px;
    display: flex;
}

.cont a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FF0303;


}

.cont label{
    /* Ім’я */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #2E2E2E;


}

.cont input{
    box-sizing: border-box;

    width: 200px;
    height: 40px;

    border: 1px solid #2E2E2E;
    border-radius: 10px;

    background: #EFEFEF;

    margin-top: 15px;
    margin-right: 25px;

    padding-left: 10px;
}

.btn_setting{
    margin-top: 20px;

    display: flex;
    justify-content: end; /* Горизонтальное выравнивание */ ___________
}

.btn_setting button{
    width: 178px;
    height: 68px;

    background: #2E2E2E;
    border-radius: 15px;

    /* Зберегти */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    color: #FFFFFF;


}

.error{
    display: block;
    margin-top: 10px;
    color: #FF0303;
}

/*/////////////////////////////////////////////////////*/
/*Message-list*/

.message_list{

    /* Rectangle 274 */

    box-sizing: border-box;

    width: 970px;
    height: 145px;
    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    cursor: pointer;

}

.message_list img{
    /* Rectangle 322 */

    width: 100px;
    height: 100px;

    border-radius: 75px;

    margin-left: 15px;
    margin-top: 23px;

}

.message_list a{
    text-decoration: none;

    /* Доброго дня! Я б хотів купити футболку */

    /* Людинка */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    color: #2E2E2E;

    margin-top: 23px;
    margin-left: 40px;


    display: flex;
    align-items: center;
}

.message_list p{
    /* Доброго дня! Я б хотів купити футболку */

    margin-top: 19px;
    margin-left: 40px;
    margin-bottom: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #2E2E2E;


}

.menu_and_data{
    width: 10%;
    height: 100%;
}

.menu_and_data img{
    width: 25px;
    height: 14px;

    border-radius: 0;

    margin-left: 0;
    margin-top: 0;
}

.menu_and_data a{
    text-decoration: none;
    margin: 0;

    /* 17.08.24 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */

    color: #A1A1A1;

    margin-bottom: 10px;

}

.menu_message{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 25px;
}

.data_messages{
    display: flex;
    justify-content: end; /* Горизонтальное выравнивание */

    align-items: end;
    height: 80%;
    margin-right: 25px;

}



/*/////////////////////////////////////////////*/
/*Chat*/

.chat_div{
    /* Rectangle 274 */

    margin-top: 35px;

    box-sizing: border-box;

    width: 970px;
    height: 800px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    padding: 15px;

    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

    position: relative;
}

.chat_info{
    margin-top: 8px;
    display: flex;
}

.chat_info img{
    width: 100px;
    height: 100px;

    border-radius: 75px;
}

.chat_info p{

    text-decoration: none;

    /* Ім’я Людини */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #2E2E2E;

    margin: 0;

}

.menu_chat{

}

.menu_chat img{
    position: absolute;
    right: 25px;

    width: 25px;
    height: 14px;
    border-radius: 0;
}

.chat_messages{

    width: 100%;
    height: 570px;

    margin-top: 25px;
    margin-bottom: 25px;



    overflow-y: auto;




}

.chat_messages_2{


    /* Вирівнювання повідомлень вертикально */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

}

/* Стилі для повідомлень */
.message-box {

    padding: 15px 15px 5px 15px;

    box-sizing: border-box;
    word-wrap: break-word;

    background: #FFFFFF;
    border: 2px solid #2E2E2E;
    /*border-radius: 25px 25px 25px 0px;*/

    max-width: 450px;

    margin-bottom: 15px;


    /* Доброго дня! Я б хотів купити футболку */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #2E2E2E;


}

.message-box p{
    /* 20:05 */
    margin: 0;

    height: 36px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #A1A1A1;
}

.message-sender {
    align-self: flex-end;
    border-radius: 25px 25px 0 25px;



}

.message-receiver {
    align-self: flex-start;
    border-radius: 25px 25px 25px 0;
}

.icons{
    margin-right: 15px;

    margin-top: 9px;

    width: 32px;
    height: 32px;

    cursor: pointer;

}

.input_container{
    position: relative;
}

.input_container input{
    /* Rectangle 323 */

    padding-left: 15px;

    box-sizing: border-box;

    width: 846px;
    height: 50px;
    background: #EFEFEF;

    border: 3px solid #2E2E2E;
    border-radius: 15px;

    margin-right: 10px;

}

.micIcon2{
    position: absolute;
    right: 130px;
    top: 9px;

    cursor: pointer;

    width: 32px;
    height: 32px;

}

button.btn_message {
    position: absolute;
    right: 12px;

    width: 100px;
    height: 50px;
    cursor: pointer;

    /* Rectangle 404 */
    color: #FFFFFF;

    background: #2E2E2E;
    border-radius: 15px;

}

.button.btn_message img{
    /* message2 */
    width: 32px;
    height: 32px;
}

.emoji-container {
    position: absolute; /* Панель поверх других элементов */
    display: block;

    width: 255px;
    height: 500px;

    bottom: 70px; /* Примерное расстояние от нижней части контейнера */
    left: 0; /* Разместим панель в нужном месте */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Убедитесь, что панель находится поверх других элементов */

    overflow-y: auto; /* Вертикальный скролл при необходимости */
    overflow-x: hidden; /* Скрываем горизонтальный скролл */
}

.emoji-container button{
    background: none;
    border: 0;
    width: 26px;
    height: 26px;
    padding: 0;

    margin: 10px;
}

/*////////////////////////////////////////////*/
/*Кошик*/


.cart_product_item a{
    /* 4000 грн */
    height: 100%;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    color: #2E2E2E;


    margin-right: 18px;
    margin-left: 0;

    display: flex;
    justify-content: end;
    align-items: end;

}


/*//////////////////////////////////////////*/

/*///////////////////////////////////////////////*/
/*Zamovlennya*/

.search_user_icon2{
    margin-top: 22px;

    font-size: 0;
    position: relative;
    margin-bottom: 25px;
}


.search_user_icon2 input{

    box-sizing: border-box;


    width: 310px;
    height: 50px;

    border: 3px solid #2E2E2E;
    border-radius: 15px;
}

.search_user_icon2 img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 15px;
    top: 9px;
}

.search_user_icon2 input{
    padding-left: 57px;

    /* Знайти користувача */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    color: #A1A1A1;
}

.search_user_icon2 button{

    margin-left: 20px;

    width: 150px;
    height: 50px;

    background: #2E2E2E;
    border-radius: 15px;

    /* Пошук */

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.product_zamovlennya{
    box-sizing: border-box;
    width: 970px;
    height: 125px;

    background: #EFEFEF;
    border-right: 5px solid #2E2E2E;
    border-radius: 15px;

    position: relative;

    margin-bottom: 25px;
}

.product_zamovlennya img{
    width: 125px;
    height: 125px;
}

.product_zamovlennya h3{
    /* Футболка, велика */

    position: absolute;
    left: 140px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya a{
    /* Від 6 грудня 2022 */
    position: absolute;
    bottom: 10px;


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya h4{
    /* ID: 59876650 */

    position: absolute;
    right: 127px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2E2E2E;

    margin: 0;
}

.product_zamovlennya p{
    /* Виконано */

    position: absolute;
    right: 25px;
    top: 10px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    color: #01B834;

    margin: 0;
}
